$icon-button-size: 60px;

#icon-button-main-container{
  width: 100%;
  text-align: center;
  color: #FFF;
  margin-bottom: 20%;

  #icon-button-container{
    width: $icon-button-size;
    height: $icon-button-size;
    border-radius: 50px !important;
    margin: 0 auto;
    line-height: $icon-button-size+5;
    font-size: 35px;
    margin-bottom: 3%;
    padding: 0px;
    display: block;
  }
}