<!--
  Generated template for the IncomeDepositedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar mode="md" transparent>

    <button ion-button menuToggle end>
        <ion-icon name="menu"></ion-icon>
    </button>

  </ion-toolbar>
</ion-header>

<ion-content class="kid_gradient" fullscreen no-bounce>
  <div class="content">
    <app-header-text [header]="page.header" [text]="page.text"
  [textStyle]="{'font-size': '18px', 'color': '#FFF', 'margin-bottom': '0px'}"
  [headerStyle]="{'font-size': '32px', 'margin-bottom': '15px'}"></app-header-text>
    <app-button text-center [styles]="{'padding': '30px', 'width': 'auto'}" [text]="page.btnText" (click)="popView()"></app-button>
    <h3>Account balance</h3>
    <h1 class="currency">{{newBalance.balance | currency}}</h1>
  </div>
</ion-content>
<footer></footer>
