app-header-text {
    h1{
        text-align: center;
        font-size: 32px;
    }
    p{
        font-size: 24px;
        color: #232045;
        letter-spacing: -0.5px;
        text-align: center;
        padding: 30px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 40px;
    }
}
