<!-- Generated template for the FooterComponent component -->
<ion-footer>
  <ion-toolbar id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div (click)="goTo('wallet')">
            <svg width="48px" height="47px" viewBox="0 0 48 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Account_Icon</title>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Navigation/Child/Account" transform="translate(-24.000000, -19.000000)">
                  <g id="Navigation">
                    <g id="Account" transform="translate(24.000000, 19.000000)">
                      <path d="M21.1472914,46.8403094 C33.7398774,46.8403094 47.7460937,36.7286297 47.7460937,24.1360436 C47.7460937,11.5434576 36.4656329,0 23.8730469,0 C11.2804608,0 0,8.66057628 0,21.2531623 C0,33.8457483 8.55470539,46.8403094 21.1472914,46.8403094 Z"
                        id="account_highlight" fill="#FFA9EA"></path>
                      <g id="Account-Blance" transform="translate(6.000000, 6.000000)" stroke="#232045">
                        <rect id="Rectangle-5" x="0.5" y="5.5" width="40" height="29"></rect>
                        <path d="M0.5,5.43852021 L0.5,5.5 L37.5,5.5 L37.5,0.570099155 L0.5,5.43852021 Z" id="Rectangle-5"></path>
                        <path d="M41.5,25.5 L41.5,13.5 L33,13.5 C30.5147186,13.5 28.5,15.5147186 28.5,18 L28.5,21 C28.5,23.4852814 30.5147186,25.5 33,25.5 L41.5,25.5 Z"
                          id="Rectangle-6"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </ion-col>

        <ion-col>
            <div (click)="goTo('move')">
            <svg width="51px" height="50px" viewBox="0 0 51 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Budget_Icon</title>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Navigation/Child/Account" transform="translate(-102.000000, -16.000000)">
                  <g id="Navigation">
                    <g id="Budget" transform="translate(102.000000, 16.000000)">
                      <path d="M25.2568359,50 C37.849422,50 50.5136719,40.0977703 50.5136719,27.5051843 C50.5136719,14.9125982 41.4500079,0.8671875 28.8574219,0.8671875 C16.2648358,0.8671875 0,14.1967093 0,26.7892953 C0,39.3818814 12.6642499,50 25.2568359,50 Z"
                        id="budget_highlight" fill="#16E1D0"></path>
                      <g id="Budget-Icon">
                        <path d="M25.4129016,11.0053184 L25.4129016,27.9230769 L41,27.9230769 C40.7823354,36.8402517 33.7033752,44 25.002579,44 C16.1645987,44 9,36.6126984 9,27.5 C9,18.3873016 16.1645987,11 25.002579,11 C25.1397633,11 25.2765443,11.0017799 25.4129016,11.0053184 Z"
                          id="Combined-Shape" stroke="#000000"></path>
                        <path d="M28,8 C36.8745089,8.22552148 44,15.5600049 44,24.5748664 C44,24.7170024 43.9982286,24.8587207 43.994707,25 L28,25 L28,8 Z"
                          id="Combined-Shape" stroke="#000000"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </ion-col>



        <ion-col>
          <div (click)="goTo('challenge')">
            <svg width="52px" height="50px" viewBox="0 0 52 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Challenges_Icon</title>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Navigation/Child/Account" transform="translate(-179.000000, -19.000000)">
                  <g id="Navigation">
                    <g id="Challenges" transform="translate(179.000000, 19.000000)">
                      <path d="M25.9326172,49.1328125 C38.5252032,49.1328125 51.4746094,41.5554767 51.4746094,28.9628906 C51.4746094,16.3703046 42.1257892,0 29.5332031,0 C16.9406171,0 0,8.81757022 0,21.4101562 C0,34.0027423 13.3400312,49.1328125 25.9326172,49.1328125 Z"
                        id="challenges_highlight" fill="#16E1D0" style="mix-blend-mode: multiply;"></path>
                      <circle id="Oval-12" stroke="#232045" cx="25.5" cy="23.5" r="17.5"></circle>
                      <polygon id="Star" stroke="#232045" points="26 30.5 18.3587917 34.5172209 19.8181326 26.0086105 13.6362653 19.9827791 22.1793959 18.7413895 26 11 29.8206041 18.7413895 38.3637347 19.9827791 32.1818674 26.0086105 33.6412083 34.5172209"></polygon>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </ion-col>


        <ion-col>
          <div>
            <svg width="54px" height="50px" viewBox="0 0 54 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Activity_Icon</title>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Navigation/Child/Account" transform="translate(-254.000000, -18.000000)">
                  <g id="Navigation">
                    <g id="Activity" transform="translate(254.000000, 18.000000)">
                      <path d="M25.8896484,49.3925781 C38.4822345,49.3925781 53.125,48.6132813 53.125,31.3613281 C53.125,14.109375 42.4187579,0 29.8261719,0 C17.2335858,0 0,12.2335858 0,24.8261719 C0,37.4187579 13.2970624,49.3925781 25.8896484,49.3925781 Z"
                        id="activity_hightlight" fill="#16E1D0"></path>
                      <g id="Group" transform="translate(6.000000, 11.000000)" stroke="#232045">
                        <circle id="Oval-2-Copy-4" cx="3.5" cy="3.5" r="3.5"></circle>
                        <circle id="Oval-2-Copy-5" cx="3.5" cy="16.5" r="3.5"></circle>
                        <circle id="Oval-2-Copy-5" cx="3.5" cy="29.5" r="3.5"></circle>
                        <path d="M12.5,2.5 L40.5713377,2.5" id="Line" stroke-linecap="square"></path>
                        <path d="M12.5,16.5 L40.5713377,16.5" id="Line-Copy" stroke-linecap="square"></path>
                        <path d="M12.5,29.5 L40.5713377,29.5" id="Line-Copy" stroke-linecap="square"></path>
                      </g>

                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="tab-text">Account</div>
        </ion-col>

        <ion-col>
          <div class="tab-text">Budget</div>
        </ion-col>

        <ion-col>
          <div class="tab-text">Challenges</div>
        </ion-col>

        <ion-col>
          <div class="tab-text">Activity</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>