.project-detail-list{
    list-style: none;
}

.project-detail-list li{
    border-bottom: thin solid;
    border-color: lightgrey;
    border-spacing: 10px 20px;
}

.project-detail-text{
    font-family: Playfair Display;
    font-size:12px;
    padding-top: 20px;
}
