.project-detail-list{
    list-style: none;
    font-size: 12px;
   
}

.project-detail-list li{
    border-bottom: thin solid;
    border-color: lightgrey;
    margin-left: 60px;
    line-height: 15px; 
}

.project-detail-text{
    font-size:14px;
    padding-top: 20px;
    width: 80%;
}


 

