.project-detail-list{
    list-style: none;
    font-size: 10px;
   
}

.project-detail-list li{
    border-bottom: thin solid;
    border-color: lightgrey;
    padding-left: 40px;
}

.project-detail-text{
    font-size:14px;
    padding-top: 20px;
    width: 80%;
}


 

