body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover {
    color: #888888;
    text-decoration: none;
}
a,
button {
  outline: medium none;
  color: #4FC1F0;
}
.uppercase { 
    text-transform: uppercase;
}
.capitalize { 
    text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #232332;
  margin-top: 0px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .5px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { 
    color: inherit;
}
h1 {
    font-size: 40px;
    font-weight: 500;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li { list-style: none }
p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #626262;
    margin-bottom: 15px;
}

.title{
    font-size:medium;
    font-weight:500;
}

.title .bar{
    width:100px;
    border-bottom:thick solid cyan;
    padding-bottom:5px;
}

.intro-text{
    font-size:50px;
    z-index:0;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    max-width:200px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    background:#eee;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.sidebar .link-container{
    display: flex;
    flex-direction: column-reverse;
}

.nav-link{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style:none;
    color:black;
    padding: 2px 5px;
    display:inline-block;
    text-transform: uppercase;
}
.nav-bar{
    position:absolute; 
    left:50%; 
    margin-left:-25px; 
    width:50px; 
    border-bottom:solid thin;
}

.main-panel{
    -webkit-box-shadow: 0 0 8px 1px rgba(169,169,169,0.75);
    -moz-box-shadow: 0 0 8px 1px rgba(169,169,169,0.75);
    box-shadow: 0 0 8px 1px rgba(169,169,169,0.75);
    border:none;
    border-radius:5px;
    background-color:white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.box{
    padding:15px;
}

.box .content{
    height:100%;
    width:100%;
}

.box .content-hover{
    position:absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin:15px;
    background-color:white;
    z-index:1000;
    opacity:0;
}

.box .content-hover:hover{
    opacity:.5;
}

.box .box-line{
    width:25%;
    border-bottom:thick solid salmon;
    padding-bottom:2px;
}


.box img{
    max-height:100%;
    max-width:100%;
}

.box img:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


/*------------------------------------------------------------------------------------
   Social profile
------------------------------------------------------------------------------------*/
.social-profile ul>li{
   display: inline-block;
   padding: 0px;
}

.social-profile a{
   border: 1px solid #b4b9ba;
   border-radius: 100%;
   color: #b4b9ba;
   display: inline-block;
   overflow: hidden;
   font-size: 14px;
   height: 30px;
   line-height: 27px;
   text-align: center;
   width: 30px;

    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.social-profile a:hover{
    border: 1px solid #333;
    color: #333;

}

.social-profile.style2 ul{
    text-align: center;
}

.social-profile.style2 ul>li>a{
    width: auto;
    height: auto;
    border-radius: 0;
    line-height: 1;
    background: transparent;
    color: #a3a4a5;
}

.social-profile.style2 ul>li>a:hover{
    color: #ffffff;
}

/*--------------------------------------
	5.1 PORTFOLIO FILTER STYLE
---------------------------------------- */
.portfolio-filter {
  margin-bottom: 40px;
}
.portfolio-filter > li {
  display: inline-block;
  margin: 0 15px;
}
.portfolio-filter > li a {
  color: #3a3a3a;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.portfolio-filter > li.active a,
.portfolio-filter > li a:hover,
.portfolio-cat a:hover{
  color: #888;
}
.portfolio-action-btn > li a:hover {
  background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
}
.portfolio-description {
  bottom: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}
